<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {{>headerlink}}

    <title>Weather App</title>
  </head>
  <body>
      
      {{>navbar}}

      <!-- main header -->

      <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Left side -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/pic1.jpg" class="img-fluid" alt="" title="Tanmay Khandelwal">
                        </figure>
                    </div>
                    <!-- Right side -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Tanmay Khandelwal World</p>
                        <h1>i am a  <span class="text-primary">mern stack developer</span> and a student<h1>
                        <a href="https://github.com/iamtanmaykh2409"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>        
      </div>
      <!-- Footer -->
      {{>footer}}
  </body>
</html>